* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;

}

.app {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 3px solid lightgreen;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    overflow-y: scroll;
}
/*scroll bar remover */
.app::-webkit-scrollbar{ width: 0 !important;}

.app h2{
    line-height: 70px;
}
#add-tasks{
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background-color: rgba(171,206,161,0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.tasks h2{
    text-align: center;
}
#add-btn{
    background: #abcea1;
    
    
}
#entries div{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid #abcea1;
    border-radius: 5px;
    background: rgba(171,206,161,0.35);
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#btn {
    display: flex;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}
#errorMsg{
    color: red;
    font-size: x-small;
}

